.baselineFooter {
    background: var(--color-baseline-dark);
    color: var(--color-baseline-light);
    font-family: var(--font-mono);
    font-size: 0.75rem;
    padding-block: var(--size-fluid-3);
}
